#body1, #body2{
	margin:0px;
	position:static;
	min-width: 700px;
}

@font-face {
	font-family: 'forHeader';
	src: url('font/NATIONPP.TTF');
}

#mainheader, #mainheader2{
	top:0px;
	width:100%;
	position:sticky;
	position: -webkit-sticky;
	font-family:'forHeader';
	letter-spacing:3px;
	text-align:center;
	border-bottom-style:solid;
	border-bottom-width: 5px;
	z-index:1
}
#mainheader2{
	background-color:white
}

h1{
	padding:20px 20px;
	margin: 0px;
	font-size: 38px;
	width: 100%;
	box-sizing: border-box;
}
h2{
	font-family:forHeader;
	font-size:36px;
	line-height:40px;
	margin:40px 50px 0px 50px
}

@font-face {
	font-family: "boxFont";
	src: url("font/Grundschrift-Bold.otf");
}
#helpBox{
	position:fixed;
	font-size:20px;
	line-height:25px;
	font-family:"boxFont";
	color:black;
	white-space:normal;
	background-color:#C0C0C0;
	padding:0px 5px;
	border:3px black dashed;
	height:auto;
	width:auto;
	display:block;
	visibility:hidden;
	z-index:2;
}
#helpBox sup{
	vertical-align:top;
	font-size:14px;
	line-height:18px;
	position:relative;
	bottom: 0.1em;
	font-weight: bold;
}
#helpSquare{
	position:fixed;
	height:48px;
	width:48px;
	right:0px;
	top:100px;
	text-align:center;
	color:#FFDD77;
	border-bottom-style:solid;
	border-left-style:solid;
	border-top-style:solid;
	border-color:#663300;
	border-width:5px;
	border-radius:10px 0px 0px 10px;
	background-color:#BB5500;
	cursor:pointer;
	z-index:2
}

#helpSquare i{
	font-size:24px;
	line-height:48px;
	width:100%
}
@font-face {
	font-family: "mainTextFont";
	src: url("font/SF_Cartoonist_Hand.ttf");
}
#sideButton{
	position:fixed;
	bottom:0px;
	width:0px;
	height:100%;
	border-left-style:none;
	border-color:#663300;
	border-width:5px;
	background-color:#BB5500;
	right:0px;
	overflow-y:auto;
	overflow-x: hidden;
	z-index:6;
}

#sideButton .setting{
	display: flex;
	align-items: center;
	width: 100%;
	margin: 0px;
	background-color: #994400;
	color: #dd8800;
	border-bottom-width: 4px;
	border-bottom-color: #663300;
	border-bottom-style: solid;
}
#sideButton .setting #text{
	width: 72%;
	line-height: 32px;
	font-size: 28px;
	margin: 0px;
	font-family:"mainTextFont";
	font-weight: bold;
	background-color: #994400;
	box-sizing: border-box;
	padding-left: 10px;
}

#sideButton .setting #selector{
	width: 28%;
	display: flex;
	height: 70%;
	margin: 10px 10px 10px 5px;
	background-color: #BB5500;
	box-sizing: border-box;
	overflow: hidden;
	text-align:right;
	border: #441100 solid 4px;
	border-radius: 10px;
	cursor: pointer;
	align-items: center;
	justify-content: center;
}
#sideButton .setting #selector i{
	display: flex;
	font-size: 22px;
	color: #663300;
}

#sideButton img{
	width:100%
}
#sideButton img:hover{
	width:100%;
	transform:scale(1.05,1.05);
}

#sideButton .topic{
	max-width:80%;
	margin-left:20px;
	margin-top:20px;
}

#sideButton div:last-child{
	margin-bottom:20px;
}
#sideButton::-webkit-scrollbar {
	width: 10px;
}
#sideButton::-webkit-scrollbar-track {
	background: rgb(140,40,00);
}
#sideButton::-webkit-scrollbar-thumb {
	background: #441100;
	border-radius:4px 
}

@font-face {
	font-family:subTitle;
	src: url(font/LinLibertine_DR.ttf);
}
h3{
	margin: 35px 40px 30px 40px;
	text-decoration:underline;
	font-size:35px;
	font-family:subTitle
}
h3 sup{
	vertical-align:top;
	font-size:16px;
	line-height:20px;
	position:relative;
	bottom: 0.1em;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
}

.plink{
	margin: 20px 80px;
	font-family:"mainTextFont";
	font-size:28px;
	letter-spacing: 2px;
	line-height:32px;
}
.plink a{
	text-decoration: none;
}
.plink a:hover{
	text-decoration: underline;
}

.pmain{
	margin:28px 40px;
	font-family: "mainTextFont";
	font-size:30px;
	line-height:32px;
	letter-spacing: 0.05em;
	position:static
}
.pmain2{
	margin:22px 80px 20px 80px;
	font-family: "mainTextFont";
	font-size:29px;
	letter-spacing: 0.05em;
	line-height:32px;
	position:static
}
p sub, li sub{
	vertical-align:bottom;
	font-size:19px;
	line-height:20px;
	position:relative;
	bottom: -0.1em;
	font-weight: bold;
}
p sup, li sup{
	vertical-align:top;
	font-size:18px;
	line-height:20px;
	position:relative;
	bottom: 0.1em;
	font-weight: bold;
}

p:not(.plink) a{
	color:blue;
	text-decoration: none;
	border-bottom: blue solid 2px;
}
.overLine{
	border-top: solid black 2px;
	display: inline-block;
	line-height: 24px;
}

span[data-title]{
	text-decoration: underline;
	text-decoration-style: dashed;
}

figcaption{
	font-family: "mainTextFont";
	text-align: center;
	font-weight: bold;
}
.displayFormula{
	font-size:25px;
	max-width:80%;
	width: min-content;
	padding-left: 12px;
	padding-right: 12px;
	margin:auto;
	overflow-x: auto;
	overflow-y: hidden;
	background-color: white;
}
.pmain mjx-container[jax="CHTML"], .pmain2 mjx-container[jax="CHTML"]{
	font-size:23px !important;
}
.displayimg, .displayimg2{
	display:block;
	margin:auto;
	max-height:250px;
	border-style:none;
	position:static;
	max-width:40%;
}
.displayimg2{
	max-height:350px;
}
.subText{
	margin:15px 130px 20px 130px;
	font-family: "mainTextFont";
	font-size:28px;
	font-style: italic;
	line-height:30px;
	overflow: hidden;
	position:static;
	letter-spacing: 0.03em;
}
#source_format{
	margin:0px 40px 0px 40px;
	font-family:"mainTextFont";
	font-size:29px;
	line-height:35px;
	letter-spacing: 0.05em;
	position:static
}
cite{
	font-style: normal;
}

#source_format+ol{
	list-style-type:decimal;
	position:static;
	font-family:subTitle;
	font-size:20px;
	line-height:26px;
	padding-bottom:5px;
	margin:15px 40px 16px 40px;
	color: black;
	box-sizing: border-box;
}
ol a{
	color:black;
	text-decoration: none
}
ol a:hover{
	text-decoration:underline
}

ins{
	height: auto !important;
}
.adsbygoogle{
	width: 98%;
	margin: 10px auto 0px auto;
	overflow-x: auto;
}

hr{
	border-width: 3px 0px 0px 0px;
	border-top-style: solid;
	height: 1px;
	margin: 10px 0px;
}

@font-face {
	font-family:footerFont;
	src: url(font/LinLibertine_R.ttf);
}
#fTable {
	width:100%;
	position:static;
	font-family: footerFont;
	font-size:15px;
	font-weight: bold;
	border-spacing:0px;
	padding-right:42px;
	margin-bottom:5px;
	box-sizing: border-box;
}
#drvitimg{
	height:120px;
}
#fTable td{
	border-width: 3px
}
.tdpadding{
	padding:1px 10px 1px 5px;
	line-height: 16px;
	border-left-style:solid;
}
#fTable a{
	text-decoration: none;
}
#fTable a:hover{
	text-decoration:underline;
}
#fTable tr:last-of-type{
	font-size: 0px;
	line-height: 40px;
}

#donationPic{
	position: relative;
	border: 4px;
	float:left;
	margin-left: 10%;
	width: 80%;
	font-size: 13px;
	line-height: 18px;
	font-weight: bold;
}
#payPalImg{
	width: 60%;
	margin-left: 20%;
	float: left;
	margin-bottom: 2px;
	margin-top: 2px;
}


@media screen and (max-width:800px){
	#mainheader, #mainheader2{letter-spacing:2px;border-bottom-width: 3px;}
	h1{font-size: 25px; padding: 10px 0px;}
	#helpSquare{height:22px;width:22px;top:55px;border-width:3px;border-radius:5px 0px 0px 5px}
	#helpSquare i{font-size:12px;line-height:22px}
	#sideButton{border-width: 2px;}
	#sideButton .setting{border-bottom-width: 2px;}
	#sideButton .setting #text{font-size: 1.8vw;line-height: 3vh;padding-left: 3px;}
	#sideButton .setting #selector{border-radius: 3px;border-width: 2px;margin: 5px 1px 5px 2px;}
	#sideButton .setting #selector i{font-size: 1.5vw;}
	#sideButton .topic{margin-top: 1.2vw; margin-left: 1.2vw}
	#sideButton::-webkit-scrollbar {width: 5px}
	h2{margin-left:3%;margin-right:3%;font-size:25px;line-height:30px;margin-top:20px}
	.plink{margin-left:8%;margin-right:5%;font-size:18px;line-height:20px}
	h3{margin:26px 24px 22px 24px;font-size:25px}
	.pmain{font-size:18px;line-height: 22px;margin: 18px 25px}
	.pmain sub{font-size:12px}
	.pmain2{font-size:18px;line-height: 22px;margin:18px 48px}
	.subText{margin:15px 90px 20px 90px;font-size:15px;line-height:20px}
	.displayimg{height:auto;max-height:100px}
	.displayimg2{height:auto;max-height:120px}
	#source_format{font-size:18px;margin-right:20px;margin-left:20px}
	ul{font-size:12px;margin:12px 10px 15px 10px;line-height:18px}
	#fTable{font-size:10px;padding-right:10px}
	#fTable td{border-width: 2px;}
	td:has(#drvitimg){width: 80px !important;}
	#drvitimg{height:53px;margin:3px}
	.tdpadding{padding-left:5px;line-height:10px;padding-right:5px}
	#donationPic{font-size: 10px;line-height: 15px;}
	tr:last-child{line-height:0px}
}
/*
-header is h1
-calibri is the default font for image explaining, use lines of weight 6 points
-for maths equation, use cambria maths (center,italics), preffered font size is 72
-Evidence page has mainheader 2 and body 2 while title page has mainheader and body 1
-All plinks must have target="_blank"
-All elements with the style="cursor:help" should have text decoration as dashed underline
-When writing history, sources should have disc bullet list points, if its not a source then have circle list points
-If you want to use citation.json then do it like this: <li><cite class="thing to be cited"></cite></li>
-<span data-title="extra info">underlined text</span>, there will be the #helpBox div with extra info
<figure>
	<img>
	<figcaption></figcaption>
</figure>
*/